.article-list-content {
    .article-list-left {
        width: 18%;
        top: 0;
        bottom: 0;
        position: fixed;
    }
    .article-auth-header {
        height: 11vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            width: 80px;
            height: 80px;
            border-radius: 40px;
            margin: 0 auto;
            border: 1px solid #e6e6e6;
        }
        p {
            text-align: center;
            margin-top: 12px;
            font-size: 14px;
        }
    }
    .article-left-other {

        border-top: 1px solid #e6e6e6;
        .article-fast-card {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            li {
                width: 50%;
                height: 3vw;
                line-height: 3vw;
                text-align: center;
            }
        }
    }
    .article-list-right {
        width: 82%;
        margin-left: 18%;
        min-height: 100%;
        background-color: #d8d8d8;
        .article-list-items {
            margin-top: 11vw;
            padding: 24px;
            .article-list-item {
                padding: 24px ;
                background-color: #fff;
                position: relative;
                &:first-child {
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }

                &:last-child {
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
            .article-title {
                color: #979be0;
                font-size: 24px;
                margin-bottom: 10px;
            }
            .article-overview {
                color: #bfbcbc;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: .5px;
                margin-bottom: 10px;
            }
            .article-line {
                height: 2px;
                width: 96%;
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                margin: 0 auto;
                border-bottom: 1px dashed #e4e4e4;
            }
            .article-footer {
                font-size: 13px;
                display: flex;
                justify-content: flex-start;
                span,ul {
                    margin-right: 12px;
                    color: #a2a9af;
                }
            }
        }
    }
} 